.skills-grid {
    margin-top: 2rem;
    margin: 2rem 1.5rem 0rem 1.5rem;
    display: grid;
    gap: 1rem 2.5rem;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(0, 190px));
    justify-items: center;
}

.skill-item {
    border-radius: 8px;
    background: var(--bg-card);
    box-shadow: 0 2px 6px var(--card-shadow);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    gap: .5rem;
    width: 100%;
    max-width: 190px; /* caps how wide each card can get */
    text-align: center;
}

.skill-item__icon {
    height: 40px;
}

.skill-item__label {
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--text-dark);
}

/* .skills-grid .skill-item:nth-child(3n+1):last-child {
  grid-column: 2 / 4;
} */

@media (max-width: 800px) {
  .skills-grid {
    grid-template-columns: repeat(2, minmax(0, 140px));
  }
}